@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,800&display=swap");
@import "_variabales.scss";

// sass --watch ./sass/index.scss ./css/index.css
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: $Light-grey;
}

.card-holder {
	background-color: $White;
	padding: 50px;
	border-radius: 15px 15px 100px 15px;
	width: auto;
	max-width: 575px;
	margin: auto;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(50%, -50%);
}

.error-msg-style {
	margin-top: 5px;
	color: $Light-red;
	font-size: 11px;

	@media (max-width: 426px) {
		font-size: 7px;

	}
}

#val-error-day,
#val-error-month,
#val-error-year {
	display: none;
}


#input-form.error .input-part label {
	color: $Light-red;
}

#input-form.error .input-part input {
	border-color: $Light-red;
}

.input-part {
	display: inline-block;
}

label {
	display: block;
	width: fit-content;
	font-size: 11px;
	letter-spacing: 3px;
	font-weight: 600;
	margin-bottom: 5px;
	color: $Smokey-grey;
}

.card-input input::placeholder {
	color: $Smokey-grey !important;
}

.card-input input:focus {
	box-shadow: none;
	border-color: $Purple;
}

.card-input input {
	display: inline;
	width: fit-content;
	max-width: 125px;
	font-size: 24px;
	margin-right: 5px;
	font-weight: 600;
	cursor: pointer;
}

.card-input input::-webkit-outer-spin-button,
.card-input input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.button-holder {
	position: relative;
}

div.show-result {
	display: flex;
	background-color: $Purple;
	color: $White;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin: 20px 0 0 auto;
	position: relative;
	z-index: 10;
	justify-content: center;
	align-items: center;
}

.line {
	height: 2px;
	background-color: $Light-grey;
	width: 100%;
	position: absolute;
	bottom: 35px;
	right: 0px;
	z-index: 5;
}


div.show-result:hover,
div.show-result:active {
	background-color: $Off-black !important;
}

.card-output h1 {
	width: fit-content;
	font-size: 58px;
	font-weight: bold;
	font-style: italic;
	color: $Off-black;

	@media (max-width: 574px) {
		font-size: 38px;
	}
}

.card-output h1 span {
	color: $Purple;
}

.attribution {
	width: max-content;
	font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 767px) {
	.line {
		width: 100%;
	}
}

@media (max-width: 575px) {
	.card-holder {
		margin: 50px auto 25px;
		width: fit-content;
	}

	.card-input input {
		max-width: 75px;
		font-size: 18px;
	}

	div.btn.show-result {
		margin: 50px auto;
	}

	.line {
		width: 100%;
		right: 50%;
		transform: translateX(50%);
	}

}